html 
    head
        title Js
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    body.container
        h2 Login
        p Please login to continue 
        form(action="",method="POST").form-group
            label(for="username") Username
            input(type="text", name="username",palceholder="Username").form-control
            label(for="password") Password
            input(type="password",name="password",palceholder="Password").form-control
            br
            input(type="submit" value ="login").btn.btn-primary
        p Don't have an account ?
        p register
            a(href="/register")  here 
        p
            a(href="/forgetPassword") Forget Password