html
    head
        title js
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    body.container
        h2 Register
        p welcome to register page
        form(action="" method="POST").form-group
            label(for="name") Full Name
            input(type="text",name='name',placeholder="Full Name").form-control
            label(for="address") Address
            input(type="text",name="address",placeholder="Address").form-control
            label(for="phone") Phone
            input(type="text",name="phone",placeholder="Phone").form-control
            label(for="password") Password
            input(type="password",name="password",palceholder="Password").form-control
            label(for="password") Re-enter Password
            input(type="password",name="password",palceholder="Password").form-control
            br
            input(type="submit",vlaue="Register").btn.btn-primary
        p Have an account ?
        p Login
            a(href="/")  here  
            